.calculator {
    width: 530px;
    height: 730px;
    background: #17171cde;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    border-radius: 8px;
    box-shadow: 6px 5px 10px 2px #666666;
}
.output {
    padding-top: 1px;
}
.main-heading {
    width: 100%;
    text-align: center;
    font-family: system-ui;
    color: white;
    font-size: 20px;
    font-weight: 400;
}
#screen {
    width: 96%;
    margin-left: 1.5%;
    height: 200px;
    background: black;
    border: none;
    border-radius: 8px;
    pointer-events: none;
    position: relative;
}
.buttons {
    padding-top: 12px;
}
.row {
    margin-bottom: 1px;
    margin-left: 15px;
}
.clear-btn {
    position: absolute;
    margin-left: -60px;
    margin-top: 8px;
    width: 50px;
    height: 30px;
    background: #ffffffde;
    font-size: 20px;
    border-radius: 5px;
}
.btn {
    width: 120px;
    height: 109px;
    margin-left: 1px;
    margin-bottom: 4px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
}
input {
    color: white;
    font-size: 30px;
}